@font-face {
  font-family: 'JetBrains Mono';
  src:  url('./fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('./fonts/JetBrainsMono-Regular.ttf') format('ttf')
}

body {
  margin: 0;
  font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
